* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins';
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.156vw;
    border-radius: 0.104vw;
}
  
::-webkit-scrollbar-track {
    background: #171b25c5
}

::-webkit-scrollbar-thumb {
    background: :#46f800ab; 
}

::-webkit-scrollbar-thumb:hover {
    background: :#46f800;
}
.send {
    /* display: none; */
}

